.search {
    background: url('https://capsgit.github.io/inlocon_pre/assets/images/search_component_background.png') center/cover no-repeat;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.search__form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.search__main {
    display: flex;
    row-gap: 0.1rem;
}

.search__input,
.search__input--small,
.search__select {
    padding: 0.75rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
}

.search__button {
    background-color: #6fbf41;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.search__button:hover {
    background-color: #5aa835;
}

.search__toggle {
    text-align: center;
}

.search__toggle-button {
    display: flex;
    background: rgba(243, 238, 238, 0.5);
    border: none;
    text-decoration: none;
    color: #003a63;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.5rem;
    padding: 0.5rem 0.25rem;
    border-radius: 5px;
    justify-self: center;
}

.search__toggle-button>svg {
    align-self: center;
    justify-self: center;
}

.search__advanced {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 4px;
    gap: 10rem;
}

.search__advanced>input {
    font-weight: 600;
    width: 90%;
}

.search__row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    justify-content: center;
    padding: 1rem 0rem;
}

.search__field {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #003a63;
    font-size: 0.9rem;
}

.search__subtitle {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 2.5rem;
}

@media (max-width: 768px) {

    .search__row {
        flex-direction: column;
    }

    .search__subtitle {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }
}